<template>
  <div>

    <router-view :isLoggedIn="isLoggedIn" />

  </div>
</template>

<script>

export default {
  components: {
    //Navbar,
  },
  mounted() {
    let authToken = localStorage.getItem('authToken');
    if(authToken){
      this.isLoggedIn = true;
    } else {
      this.isLoggedIn = false;
    }
  },
  data() {
    return {
      isLoggedIn: false,
    };
  },
};
</script>

<style  scoped>
</style>
