<template>
  <div class="audit">   

    <Navbar v-if="this.isLoggedIn"/>

    <br/>

    <div class="container">
      <div class="row">
        <div class="col-lg-12">
          <table class="table table-sm table-bordered">
            <thead>
              <tr>
                <th>ID</th>
                <th>IP Address</th>
                <th>Comment</th>
                <th>Last Update</th>
              </tr>
            </thead>
            <tbody>
              <tr v-if="Object.keys(this.items).length === 0">
                <td colspan="4" class="text-center">- No record found. -</td>
              </tr>
              <tr v-else v-for="(item, i) in this.items" :key="i">
                <td>{{ item.id }}</td>
                <td>{{ item.ip_address }}</td>
                <td>{{ item.comment }}</td>
                <td>{{ item.updated_at }}</td>
              </tr>
            </tbody>
          </table>
        </div>
      </div>
    </div>

  </div>
</template>

<script>
import Navbar from "@/components/Navbar.vue";

export default {
  components: {
    Navbar,
  },
  props: {
    isLoggedIn: Boolean,
  },
  mounted: function () {
    this.init();
  },
  data() {
    return {
      requestHeader: {
        headers: {
          Authorization: `Bearer ${localStorage.getItem("authToken")}`,
        },
      },
      items: {},
    };
  },
  methods: {

    init() {
      this.$axios
        .get(this.$apiUrl + "/audit/list", this.requestHeader)
        .then((res) => {
          //console.log(res);
          if (res.data.items) {
            this.items = res.data.items;
          }
        })
        .catch((error) => {
          console.log(error);
        });
    },
  },
};
</script>
