<template>
  <div class="home">   

    <Navbar v-if="this.isLoggedIn"/>

    <br/>

    <div class="container">
      <div class="row">
        <div class="col-lg-12">
          <table class="table table-sm table-bordered">
            <thead>
              <tr>
                <th>ID</th>
                <th>IP Address</th>
                <th>Comment</th>
                <th>Action</th>
              </tr>
            </thead>
            <tbody>
              <tr v-if="Object.keys(this.items).length === 0">
                <td colspan="4" class="text-center">- No record found. -</td>
              </tr>
              <tr v-else v-for="(item, i) in this.items" :key="i">
                <td>{{ item.id }}</td>
                <td>{{ item.ip_address }}</td>
                <td>{{ item.comment }}</td>
                <td><button class="btn btn-sm btn-info" data-toggle="modal" data-target="#myModal" @click="addEditModal(2, item.id)">Edit</button></td>
              </tr>
              <tr>
                <td colspan="3" class="text-center">&nbsp;</td>
                <td><button class="btn btn-sm btn-primary" data-toggle="modal" data-target="#myModal" @click="addEditModal(1, 0)">Add New</button></td>
              </tr>
            </tbody>
          </table>
        </div>
      </div>
    </div>

    <!-- The Modal -->
    <div class="modal" id="myModal">
      <div class="modal-dialog">
        <div class="modal-content">
          <!-- Modal Header -->
          <div class="modal-header">
            <h4 class="modal-title">{{ this.modalHeader }}</h4>
            <button type="button" class="close" data-dismiss="modal">&times;</button>
          </div>

          <form method="post" id="saveForm" @submit.prevent="saveData">
            <input type="hidden" name="id" :value="modalData.id" />
            <!-- Modal body -->
            <div class="modal-body">
              <div class="form-group">
                  <input type="text" class="form-control" placeholder="IP Address" required="required" :value="modalData.ip_address" name="ip_address" :disabled="this.ipAddrFieldDisabled" />
              </div>
              <div class="form-group">
                  <textarea rows="3" class="form-control" placeholder="Comment" :value="modalData.comment" name="comment"></textarea>
              </div>
            </div>
            <!-- Modal footer -->
            <div class="modal-footer">
              <!-- <button type="submit" class="btn btn-primary" data-dismiss="modal">Save</button> -->
              <button type="submit" class="btn btn-primary">Save</button>
              <button class="btn btn-danger" data-dismiss="modal">Close</button>
            </div>

          </form>
        </div>
      </div>
    </div>

  </div>
</template>

<script>
import Navbar from "@/components/Navbar.vue";

export default {
  components: {
    Navbar,
  },
  props: {
    isLoggedIn: Boolean,
  },
  mounted: function () {
    this.init();
  },
  data() {
    return {
      requestHeader: {
        headers: {
          Authorization: `Bearer ${localStorage.getItem("authToken")}`,
        },
      },
      modalHeader: "",
      modalData: {
        id: 0,
        ip_address: "",
        comment: "",
      },
      ipAddrFieldDisabled: false,
      items: {},
    };
  },
  methods: {

    init() {
      this.modalData = {
        id: 0,
        ip_address: "",
        comment: "",
      };

      this.$axios.get(this.$apiUrl + "/ip_addresses/list", this.requestHeader)
      .then((res) => {
        //console.log(res);
        if (res.data.items) {
          this.items = res.data.items;
        }
      })
      .catch((error) => {
        console.log(error);
      });
    },

    saveData() {
      let formData = new FormData(document.getElementById("saveForm"));
      this.$axios.post(this.$apiUrl + "/ip_addresses/save", formData, this.requestHeader)
      .then((res) => {
        //console.log(res);        
        if (res.data.error) {
          alert(res.data.error[0]);
          return;
        } else if (res.data) {
          this.init();
          alert(res.data.message);
        } else {
          console.log(res.data.message);
        }
      })
      .catch((error) => {
        console.log(error);
      });
    },

    addEditModal(actionType, elemId) {
      //console.log(actionType + ' == ' +elemId);

      if (actionType == 2) {
        this.ipAddrFieldDisabled = true;
        this.modalHeader = "Edit IP Address";

        this.$axios.get(this.$apiUrl + `/ip_addresses/edit/${elemId}`,this.requestHeader)
        .then((res) => {
          //console.log(res);
          if (res.data.item) {
            this.modalData.id = res.data.item.id;
            this.modalData.ip_address = res.data.item.ip_address;
            this.modalData.comment = res.data.item.comment;
          }
        })
        .catch((error) => {
          console.log(error);
        });
      } else {
        this.ipAddrFieldDisabled = false;
        this.modalHeader = "Add IP Address";
        this.modalData.id = 0;
        this.modalData.ip_address = "";
        this.modalData.comment = "";
      }
    },
  },
};
</script>
