<template>
  <div class="container-fluid">
    <div class="login row">
      <div class="login-form col-lg-4">
          <form method="post" id="loginForm" @submit.prevent="login">
              <h2 class="text-center">Log in</h2>       
              <div class="form-group">
                  <input type="text" class="form-control" placeholder="Email" required="required" name="email" />
              </div>
              <div class="form-group">
                  <input type="password" class="form-control" placeholder="Password" required="required" name="password" />
              </div>
              <div class="form-group">
                  <button type="submit" class="btn btn-primary btn-block">Log in</button>
              </div>
          </form>
      </div>
    </div>
  </div>
</template>

<style scoped>
.login-form { margin: 30px auto; }
</style>

<script>
import router from "@/router";

export default {
  name: "Login",
  mounted: function () {},
  methods: {
    login() {
      //console.log(this.$authToken);
      let formData = new FormData(document.getElementById("loginForm"));

      this.$axios
        .post(this.$apiUrl + "/login", formData)
        .then((res) => {
          if (res.data.error) {
            alert(res.data.error[0]);
            return;
          } else if (res.data.user) {
            localStorage.setItem("authToken", res.data.auth_token);
            localStorage.setItem("authUser", res.data.user.name);
            router.push("/home");
            location.reload();
          } else {
            console.log(res.data.message);
          }
        })
        .catch((error) => {
          console.log(error);
        });
    },
  },
};
</script>
