<template>    
  <nav class="navbar navbar-expand-sm bg-light justify-content-center bg-dark navbar-dark">
    <ul class="navbar-nav">
      <li class="nav-item"><router-link class="nav-link" to="/home">Home</router-link></li>
      <li class="nav-item"><router-link class="nav-link" to="/audit">Audit</router-link></li>
      <li class="nav-item"><a href="javascript:void(0)" @click="logout()" class="nav-link" to="/logout">Logout</a></li>
    </ul>
  </nav>
</template>

<script>

export default {
  name: 'Navbar',
  props: {
    msg: String
  },
  methods: {
    logout() {
      console.log('Logging out ....');
      localStorage.removeItem("authToken");
      localStorage.removeItem("authUser");
      this.$router.push('login');
    }
  },
}
</script>