<template>
  <div>
    <MainLayout/>
  </div>
</template>

<script>
import MainLayout from '@/components/layout/MainLayout.vue';
import axios from 'axios';

export default {
  components: {
    MainLayout,
  },
  data() {
    return {
      
    };
  },
  created() {
    // this.checkAuthState();
  },
  mounted() {
    this.init();    
  },

  methods: {
    init() {
      let currentPath = this.$router.currentRoute.value.path;
      let authToken = localStorage.getItem('authToken');
      
      //let isAuthenticated =false;
      axios.get(this.$apiUrl+"/user", {headers: {'Authorization': `Bearer ${authToken}`}})
      .then((res)=>{
          if(res){
            if(currentPath == '/' || currentPath == '/home' || currentPath == '/login'){
              this.$router.push('home');
            } else {
              let str = currentPath.replace(/\\/g, '')
              console.log(currentPath+' From App.vue page. => '+str)
              this.$router.push(str);
            }
          }
      })
      .catch((err)=>{
        if(err){
          this.$router.push('login');
        }
      });

      // if (to.name !== 'Login' && !isAuthenticated) 
      //   next({ name: 'Login' })
      // else 
      //   router.push('home');
    }
  },
};
</script>

<style  scoped>

</style>